# 3. Strings

Solution for excercise 3

1. Open the Jupyter notebook and type this code `help(str)` in the code cell and press CTRL+enter. Now see what it returns? Go through these string methods and try to practice them.

In [ ]:
help(str)

`help` is used for getting information about any datatype & methods

`str` is used for string datatype

See, There are a lot of methods to try with string datatypes. lets look at some of them

One method I am seeing

```
endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |      
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
```
This is used to check if a string ends with the given letter or not.

In [2]:
# creating a string
s = "Python is Easy."

In [3]:
s.endswith('.')

True

It did return True becuase our string is ending with a dot(.)

Let's see another example

In [4]:
s2 = "I love Pandas"

In [5]:
s2.endswith('.')

False

This time it printed False because our string is not ending with a dot(.)

3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x vegetables and y fruits daily" where x and y presents vegetables and fruits that you eat every day. Use python f string for this.

In [6]:
fruits = "apple,banana"
vegatables = "potato & tomato"

In [14]:
# printing using f-sring
print(f"I eat {vegatables} vegatables and {fruits} fruits daily.")
#print("hi My name if girjesh kumar 12")

I eat potato & tomato vegatables and apple,banana fruits daily.

3. Create a variable and store the string “The Himalayas are one of the youngest mountain range on the planet.”

    i. Print ‘The Himalayas’ using slice operator\
    ii. Print “mountain range” using negative index\
    iii. Print “The Himalayas on the planet” using slice as well as f-string

In [83]:
string = "The Himalayas are one of the youngest mountain range on the planet."

In [84]:
string[::-1]

'.tenalp eht no egnar niatnuom tsegnuoy eht fo eno era sayalamiH ehT'

In [82]:
string = "The Himalayas are one of the youngest mountain range on the planet."
#printing the himalayas
print(string[0:13])

The Himalayas

In [85]:
# printing mountain range
print(string[-29:-15])

mountain range

In [90]:
# slicing
print(string[0:13] + string[-15:])

There are 9 phe solar system

In [ ]:
# f string
print(f"{string[0:13]} {string[-14:]}")

4. You have created a string variable called string= ”There are 9 planetsplanet in the solar system”. After some time, you have realized that your sentence is incorrect and there are only 8 planets, now correct your sentence by replacing the incorrect words. (Bonus: Try to do it in one line)

In [89]:
string = "There are 9 planet in the solar system"

In [91]:
print(string)

There are 9 planet in the solar system

*Correcting the Errors:*

There are two errors in the sentence.\
instead of 9 there should be 8 in the sentence\
instead of `planet` it should be `planets`

In [ ]:
# replacing the 9 with 8
string = string.replace('9', '8')

In [ ]:
print(string)

In [ ]:
# replacing planet with planets
string = string.replace('planet', 'planets')

In [ ]:
print(string)

Let's see how we can do this in one line only

In [92]:
string = string.replace('9 planet', '8 planets')
print(string)

There are 8 planets in the solar system

In [95]:
-9%2

1

Thank you,

Happy Coding!